/**
 * Content Sectioning
 */

// address {}
// article {}
// aside {}
// footer {}
// h1 {}

// h4 {}
// h5 {}
// h6 {}
// #{$all-headers} {}
// header {}
// hgroup {}
// main {}
// nav {}
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
h1.o-introContent__title {
  color: $blue;
  font-size: 4.4rem;
  line-height: 4rem;
  margin: 0px;
  text-transform: capitalize;
  padding-bottom: 0;

  @media(max-width: 900px) {
    font-size: 3.6rem;
    line-height: 3.4rem;
  }

  @media(max-width: 500px) {
    font-size: 2.6rem;
    line-height: 2.4rem;
  }
}

 h2.o-capabilityStack__headline,
 h2.o-supplementaryContent__title,
 h2.o-productGrid__headline,
 h2.o-videoContent__headline,
 h2.o-capabilitiesBlock__title,
 .homepage__industrySlider h2 {
  color: $blue;
  font-size: 4.4rem;
  font-weight: $font-bold;
  line-height: 4rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 3rem 0rem 1.5rem;
  text-align: center;
  text-transform: capitalize;
  width: 80%;

  @media(min-width: 1500px) {
    max-width: 80%;
  }

  @media(max-width: 900px) {
    font-size: 3.6rem;
    line-height: 3.4rem;
  }

  @media(max-width: 600px) {
    padding: 2rem 0 1rem;
    width: 90%;
  }

  @media(max-width: 500px) {
    font-size: 2.6rem;
    line-height: 2.4rem;
  }
 }

 h2.o-capabilitiesBlock__title {
  padding: 3rem 0rem 2rem;

  @media(max-width: 640px) {
    padding: 1rem 0 2rem;
  }
 }

 h2.a-rowLabel__title,
 h2.a-blockLabel__title,
 h3.m-industrySlider__title {
  font-size: 1.8rem;
  line-height: 1;
  margin: 0px;
  padding: .75rem 1rem;

  @media(max-width: 640px) {
    font-size: 1.6rem;
  }

  @media(max-width: 600px) {
    font-size: 1.4rem;
    padding: .8rem 1rem;
  }
 }

 h3,
 h3.m-sidebarTitle__text,
 .m-sidebarTitle,
 .o-supplementaryContent__paragraph h2,
 .o-supplementaryContent__paragraph h3,
 .o-bodyContent--general h2 {
  color: $blue;
  font-size: 2rem;
  font-weight: $font-semibold;
  line-height: 2rem;
  margin: 1rem 0 .5rem;

  @media(max-width: 640px) {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
 }

 h3.m-footerLink__title,
 h3.o-categoryLinks__title {
  font-size: 1.4rem;
  padding: .25rem .75rem;
  width: auto;
 }

 h3.m-capabilitiesBlock__headline {
  color: $white;
 }

 h3.m-sidebarTitle__text,
 h3.m-featureSlider__title,
 .m-sidebarTitle {
  text-transform: uppercase;
 }

 h3.m-featureSlider__title,
 .o-featuredImage .o-featuredImage__content span {
  font-size: 2rem;
  font-weight: $font-semibold;
  line-height: 2.2rem;
  margin: 0px;

  @media(max-width: 700px) {
    font-size: 2rem;
    line-height: 2rem;
  }

  @media(max-width: 500px) {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
 }

 h3.o-callToAction__titleText {
  color: $blue;
  font-size: 3rem;
 }

#callToAction {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

#footerLinks {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

.gform_wrapper li.hidden_label input {
  margin-top: 12px !important;
}
