/**
 * Forms
 */

label,
button,
input,
select {
  @extend %input-reset;
}

input {
  background: none;
  border: $border-white;
  font-family: $base-font-family;
  font-size: 1.2rem;
  font-weight: $font-bold;
}

select {
  &::-ms-expand { // Hack for IE 10 and 11
    display: none;
  }
}

// button {}

#{$all-buttons},
#{$all-text-inputs}, {
  border: none;
}

// datalist {}
// fieldset {}
// form {}

// #{$all-text-inputs} {}

// label {}
// legend {}
// meter {}
// optgroup {}
// option {}
// output {}
// progress {}
// select {}
// textarea {}

input,
textarea {
  background-color: $grey;
  font-size: 1rem !important;
  font-weight: $font-semibold !important;
  padding: 10px !important;
}

input[type="submit"] {
  background-color: $blue;
  color: $white;
  padding: 1rem 3rem !important;
}

#input_1_1::placeholder {
  color: #e2e2e2;
}
