/**
 * Sectioning Root
 */

html {
  box-sizing: border-box;
  color: #333;
  scroll-behavior: smooth;
  font-family: $base-font-family;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin: 0;
  width: 100%;
}

// ::selection {}
