// **
// Sectioning Root
// **
html {
  background-color: $black;
  box-sizing: border-box;
  font-size: $base-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $base-font-family;
  font-weight: $font-bold;
  line-height: $base-line-height;
  margin: 0 auto;
  max-width: $body-max-width;
  min-height: 100vh;
}

.tester {
  border: 1px dashed $red;
  margin: .125rem .125rem 2rem;
  padding: .5rem;
  width: calc(100% - 1rem);


  &.tester--black {
    background-color: $black;
  }

  &.tester--grey {
    background-color: $grey;
  }

  &.tester--white {
    background-color: $white;
  }
}
