.a-blockLabel {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  &.a-blockLabel--reverse {
    flex-direction: row-reverse;
  }

  .a-blockLabel__title {
    color: $white;
    width: 80%;
  }

  .a-blockLabel__flag {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.6rem;
    z-index: 2;

    &.a-blockLabel__flag--reverse {
      left: 0;
      right: auto;
      transform: scaleX(-1);
    }
  }
}

