.a-dividedIcon {
  color: $white;
  display: flex;
  flex-direction: row;
  font-weight: $font-bold;

  &.a-dividedIcon--tour {
    color: $blue;
  }

  &.a-dividedIcon--footer {
    border: $border-white;
    color: $black;
    padding: .5rem 2rem;
    text-align: center;

    &:hover {
      background-color: $white;
    }
  }

  .a-dividedIcon__text {
    margin: 0 auto;
  }

  .a-dividedIcon__icon {
    align-items: center;
    display: flex;

    .a-dividedIcon__arrow {
      display: flex;
      height: 1rem;
      width: 1rem;
    }
  }
}

.m-ctaCard__button {
  .a-dividedIcon__icon {
    display: none;
  }
}
