.a-dividedIcon {
  color: $white;
  display: flex;
  flex-direction: row;
  font-weight: $font-bold;

  &.a-dividedIcon--tour {
    color: $blue;
  }

  &.a-dividedIcon--footer {
    border: $border-white;
    color: $black;
    padding: .25rem;

    .a-dividedIcon__icon {
      color: $white;
    }
  }

  .a-dividedIcon__text {
    padding-left: 1rem;
    width: calc(100% - 2rem);
  }

  .a-dividedIcon__icon {
    align-items: center;
    display: flex;

    .a-dividedIcon__arrow {
      display: flex;
      height: 1rem;
      width: 1rem;
    }
  }
}
