.a-rowLabel {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: auto;
  position: relative;

  .a-rowLabel__title {
    color: $white;
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
    width: 95%;
    font-weight: $font-semibold;

    @media(max-width: 500px) {
      padding: 0 1rem;
    }
  }

  .a-rowLabel__flag {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 4%;

    @media(max-width: 780px) {
      width: 1rem;
      height: 1rem;
    }
  }
}
