.a-rowLabel {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: auto;
  position: relative;

  .a-rowLabel__title {
    color: $white;
    margin: 0;
    width: 95%;
  }

  .a-rowLabel__flag {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 4%;
  }
}
