.o-articleGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  max-width: 1300px;
  width: 95%;

  .o-articleGrid__article {
    flex: 0 1 31%;

    @media(max-width: 860px) {
      flex: 0 1 48%;
    }

    @media(max-width: 600px) {
      flex: 0 1 100%;
      margin-top: 1rem;
    }
  }
}
