.o-contactLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media(max-width: 780px) {
    padding-top: 3rem;
}
  .o-contactLinks__block {
    flex: 0 1 48%;
    margin-bottom: 1rem;

    @media(max-width: 780px) {
        flex: 0 1 48%;
    }

    @media(max-width: 640px) {
      flex: 0 1 100%;
      margin-bottom: .5rem;
    }

    @media(max-width: 500px) {
      flex: 0 1 100%;
    }
  }
}
