.o-callToAction {
  position: relative;
  width: 100%;

  .o-callToAction__titleLeft,
  .o-callToAction__titleRight {
    margin: 1rem .5rem 0rem .5rem;
    position: absolute;
    width: 1rem;
  }

  // .o-callToAction__titleLeft {}

  .o-callToAction__titleRight {
    right: 0px;
  }

  .o-callToAction__titleText {
    margin: 0;
    padding-top: 4rem;
    text-align: center;
    text-transform: uppercase;
  }

  .o-callToAction__description {
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem 0 3rem;
    text-align: center;
  }

  .o-callToAction__mediaBlock {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    .o-callToAction__image {
      position: relative;
      width: 95%;
      z-index: 1;
    }

    .o-callToAction__card {
      background-color: $blue;
      color: $white;
      left: 5%;
      padding: 1rem;
      position: absolute;
      top: -1rem;
      width: 35%;
      z-index: 2;
    }
  }
}
