.o-categoryLinks {
  display: flex;
  justify-content: space-around;
  height: 23vw;
  padding-top: 3rem;
  width: 100%;

  .o-categoryLinks__link {
    align-items: flex-end;
    background-size: contain;
    display: flex;
    flex: 0 1 32%;
    height: 100%;
    position: relative;
  }

  .o-categoryLinks__title {
    background-color: #010066;
    bottom: 0;
    color: $white;
    left: 1rem;
    position: absolute;
    z-index: 2;
  }
}
