.o-categoryLinks {
  display: flex;
  height: 33vw;
  width: 100%;

  .o-categoryLinks__link {
    align-items: flex-end;
    background-size: contain;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 33vw;
  }

  .o-categoryLinks__title {
    color: $white;
  }
}
