.o-callToAction {
  position: relative;
  width: 100%;

  .o-callToAction__titleLeft,
  .o-callToAction__titleRight {
    margin: 1rem .5rem 0rem;
    position: absolute;
    width: 1rem;
  }

  // .o-callToAction__titleLeft {}

  .o-callToAction__titleRight {
    right: 0px;
  }

  .o-callToAction__titleText {
    margin: 0;
    padding-top: 4rem;
    text-align: center;
    text-transform: uppercase;
  }

  .o-callToAction__description {
    color: $blue;
    font-size: 2.4rem;
    font-weight: $font-semibold;
    line-height: 2.3rem;
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem 0 3rem;
    text-align: center;
    width: 95%;

    p {
      margin: 0px;
      line-height: 2.5rem;
    }

    span {
      display: block;
      padding: .6rem;
    }
  }

  .o-callToAction__mediaBlock {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    .o-callToAction__image {
      position: relative;
      width: 95%;
      z-index: 1;

      @media(max-width: 600px) {
        display: none;
      }
    }

    .o-callToAction__card {
      background-color: $blue;
      color: $white;
      left: 5%;
      padding: 1rem;
      position: absolute;
      top: -1rem;
      width: 35%;
      z-index: 2;

      @media(max-width: 800px) {
        width: 45%;
      }

      @media(max-width: 600px) {
        left: auto;
        position: relative;
        width: 95%;
      }
    }
  }
}
