.o-contactLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .o-contactLinks__block {
    flex: 0 1 100%;
    margin-bottom: 1rem;

    @media(max-width: 780px) {
        flex: 0 1 48%;
    }
  }
}
