.o-capabilitiesBlock__block {
  position: relative;
  line-height: 0px;
}

.o-capabilitiesSlider__wrapper {
  background: rgba(26,42,52,.8);
  padding: 0rem 4rem 2rem;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;

  .a-rowLabel__flag {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 2.4rem;
  }
  .o-supplementaryContent__title {
    color: $white;
  }

  .o-capabilitiesSlider.slick-slider {

    div {
      color: $white;
      line-height: 1.4rem;
    }
  }
}
