.o-featureSlider {
  width: 100%;
}

.slick-slide {
  line-height: 0px;
  -webkit-transform: translate3d(0,0,0) !important;
}

.slick-slide,
.slick-slider .slick-track,
.slick-slider .slick-list
{
  transition-delay: 300ms;
}
