.o-featureSlider {
  width: 100%;

  @media(max-width: 768px) {
    padding-top: 2.8rem;
  }

  @media(max-width: 600px) {
    padding-top: 5rem;
  }
}

.slick-slide {
  line-height: 0px;
  -webkit-transform: translate3d(0,0,0) !important;
}

.slick-slide,
.slick-slider .slick-track,
.slick-slider .slick-list
{
  transition-delay: 300ms;
}
