.o-footerContent{
  align-items: center;
  background-color: $grey;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;

  @media(min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .o-footerContent__mainContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 1000px;
    width: 95%;

    .o-footerContent__logoContainer {
      padding: 2rem;
      flex: 0 1 30%;

      @media(min-width: 768px) {
        flex: 0 1 30%;
        padding: 4rem 2rem;
      }

      .o-footerContent__logo {
        width: 100%;
      }    
    }

    .o-footerContent__body {
      flex: 0 1 70%;
    }
  }
}
