.o-introContent {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  max-width: 1300px;
  width: 95%;

  .o-introContent__before {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    width: 130px;

    .o-introContent__decoration {
      align-self: center;
      height: 20px;
      margin: 0 0 0 2rem;
      transition: margin-left $base-duration $base-timing;

      @media(min-width: 480px) {
        color: $light-blue;
      }

      @media(min-width: 768px) {
        color: $light-blue;
      }

      @media(min-width: 1280px) {
        color: $light-blue;
      }
    }
  }

  .o-introContent__content {
    color: $light-blue;
    max-width: 700px;
    text-align: center;

    .o-introContent__title {
      align-items: center;
      display: flex;
      flex: 0 1 100%;
      justify-content: center;

      @media(max-width: 600px) {
        flex-direction: column;
      }

      .o-introContent__decoration {
        flex: 0 0 25px;
        margin: 0 0 0 2rem;
        @media(max-width: 600px) {
          margin: 10px 0 0;
        }
      }
    }

    .o-introContent__paragraph {
      font-weight: $font-semibold;
      justify-content: center;
      padding-top: .5rem;
    }
  }
}
