.o-marketingBlocks {
  color: $light-blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;

  .o-marketingBlocks__description {
    font-weight: $font-semibold;
    margin: 0;
    padding: 2.5rem 10% 0;
    text-align: center;
    width: 80%;

    @media(max-width: 800px) {
      padding: 3rem 5% 1rem;
      width: 90%;
    }

    @media(max-width: 500px) {
      padding: 2rem 0 0;
    }

    p {
      @media(max-width: 500px) {
        margin: 0 0 2rem;
      }
    }
  }

  .o-marketingBlocks__block {
    align-items: center;
    border-right: 1px solid rgba(266,266,266,.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;

    &:last-child {
      border-right: none;
    }

    @media(max-width: 500px) {
      border-right: none;
      display: none;
      width: 100%;
    }
  }
}
