.o-marketingBlocks {
  color: $light-blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;

  .o-marketingBlocks__description {
    font-weight: $font-semibold;
    margin: 0;
    padding: 3rem 10% 1rem;
    text-align: center;
    width: 80%;

    @media(max-width: 800px) {
      padding: 3rem 5% 1rem;
      width: 95%;
    }

    @media(max-width: 500px) {
      padding: 2rem 5% 0rem;
    }
  }

  .o-marketingBlocks__block {
    align-items: center;
    border-right: $border-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;

    &:last-child {
      border-right: none;
    }

    @media(max-width: 500px) {
      border-right: none;
      width: 100%;
    }
  }
}
