.o-navigationMenu {
  display: flex;
  background-color: $white;
  flex-direction: column;
  height: 80px;
  margin: 0 auto;
  max-width: 1300px;
  position: fixed;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  width: 95%;
  z-index: 4;

  @media(max-width: 768px) {
    height: 45px;
    width: 100%;
  }

  .o-navigationMenu__link {
    align-self: flex-start;
    background-color: $blue;
    display: flex;
    height: 100%;
    position: absolute;

    .o-navigationMenu__image {
      align-self: center;
      max-width: 260px;
      padding: 1rem;
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;

      @media(max-width: 900px) {
        max-width: 200px;
      }

      @media(max-width: 768px) {
        max-width: 170px;
      }
    }
  }

  .o-navigationMenu__topRow,
  .o-navigationMenu__bottomRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: flex-end;
    width: 100%;
  }

  .o-navigationMenu__topRow {
    background-color: $grey;

    @media(max-width: 768px) {
      height: 45px;
    }
  }
  .o-navigationMenu__bottomRow {

    @media(max-width: 768px) {
      display: none;
    }
    ul {
      @media(max-width: 768px) {
        display: none;
      }
    }
    a {
      color: $black;
    }
  }
}

#menu-primary {

  li {

    ul {
      display: none;
    }
  }
}

.condensed {

  .o-navigationMenu {
    height: 50px;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;

    @media(max-width: 768px) {
      height: 45px;
    }

    .o-navigationMenu__link {

      .o-navigationMenu__image {
        max-width: 180px;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;

        @media(max-width: 768px) {
          max-width: 170px;
        }
      }
    }
  }
}
#navigationMenu {

  @media(max-width: 600px) {
    flex-wrap: wrap;
  }

  .o-navigationMenu__link {

    @media(max-width: 600px) {
      width: 100%;
      justify-content: center;
    }
  }

  .o-navigationMenu__topRow {
    @media(max-width: 600px) {
      margin-top: 45px;
    }
  }

  button#mobile{
    z-index: 555;
    svg{
      height: 23px;
      width: 20px;
      fill: #fff;
    }
  }
}
.o-navigationMenu__bottomRow--mobile{
  > ul > li{
    height: 2rem;
    display: flex;
    flex-wrap: wrap;

    @media(max-width: 768px) {
      height: auto;
    }

    a {
      padding: .7rem 1rem !important;
      flex: 0 1 auto;
      width: 90%;
      order: 1;
    }

    .m-drawerMenu__toggle {
      color: #fff;
      flex: 0 1 auto;
      width: 10%;
      text-align: center;
      order: 2;
    }

    ul.sub-menu{
      display: none;
    }

    .m-drawerMenu__sub {
      padding: 0px;
      flex: 0 1 auto;
      width: 100%;
      order: 3;

      li {
        a{
          border-right: none !important;
          display: block;
          width: 100%;
        }
      }
    }
  }

  .m-navigationRow{
    display: block;
    padding: 0px;
  }
}

#mobile {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #010066;
  color: #fff;

  @media(max-width: 768px) {
    display: block;
    height: 45px;
    width: 45px;
  }
}
