.o-navigationMenu {
  display: flex;
  background-color: $white;
  flex-direction: column;
  height: 90px;
  margin: 0 auto;
  max-width: 1300px;
  position: fixed;
  width: 95%;
  z-index: 4;

  .o-navigationMenu__image {
    position: absolute;
    height: 100%;
  }

  .o-navigationMenu__topRow,
  .o-navigationMenu__bottomRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: flex-end;
    width: 100%;
  }

  .o-navigationMenu__topRow {
    background-color: $grey;
  }
  .o-navigationMenu__bottomRow {
    a {
      color:$black;
    }
  }
}

#menu-primary {

  li {

    ul {
      display:none;
    }
  }
}
