.o-supplementaryContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;

  @media(min-width: 640px) {
    width: 90%;
  }

  .o-supplementaryContent__title {
    align-items: center;
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
    margin: 0;
    padding: 0px;

    .o-supplementaryContent__topDecoration {
      flex: 0 0 25px;
      margin: 0 -40px 0 40px;

      @media(max-width: 600px) {
        margin: 0px;
      }
    }
  }

  .o-supplementaryContent__paragraph {
    columns: 1;
    column-gap: 4rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem 0;

    @media(min-width: 640px) {
      columns: 2;
    }
  }
}
