.o-supplementaryContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 2rem;
  width: 95%;

  @media(min-width: 640px) {
    width: 90%;
  }

  .o-supplementaryContent__title {
    margin: 0;

    @media(min-width: 640px) {
    }
  }

  .o-supplementaryContent__paragraph {
    columns: 1;
    column-gap: 4rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem 0;

    @media(min-width: 640px) {
      columns: 2;
    }
  }
}
