.o-footerContent{
  align-items: center;
  background-color: $grey;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;

  @media(min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .o-footerContent__logoContainer {
    padding: 4rem 2rem 2rem;
    width: 65%;

    @media(min-width: 768px) {
      width: 35%;
      padding: 0rem 2rem 4rem;
    }

    .o-footerContent__logo {
      width: 100%;
    }
  }
}
