.categoryContact {

  .categoryContact__intro {
    padding-top: 10rem;
  }
}

.contactContentWrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
  width:95%;
}

.categoryContact__contactForm {
  flex: 0 1 70%;
}

.categoryContact__contactLinks {
  flex: 0 1 30%;
}
