.categoryContact {

  .categoryContact__intro {
    padding-top: 10rem;

    @media(max-width: 800px) {
      padding-top: 8rem;
    }

    @media(max-width: 768px) {
      padding-top: 1.5rem;
    }
  }
}

.contactContentWrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
  width: 95%;
}

.categoryContact__contactForm {
  flex: 0 1 70%;
  padding-right: 3rem;

  @media(max-width: 780px) {
    flex: 0 1 100%;
    padding-right: 0rem;
  }
}

.categoryContact__contactLinks {
  flex: 0 1 30%;

  @media(max-width: 780px) {
    flex: 0 1 100%;
  }
}
