.page-template-template-history {
  .o-introContent {
    padding-top: 8rem;

    @media(max-width: 800px) {
      padding-top: 8rem;
    }

    @media(max-width: 768px) {
      padding-top: 5rem;
    }

    @media(max-width: 600px) {
      padding-top: 7rem;
    }
  }
}

.history__timeline {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 5%;
}

.cd-container {
  .cd-timeline-img {
    background: #010066 !important;
    width: 40px !important;
    height: 40px !important;
    margin-left: -20px !important;
  }

  .cd-timeline-content h2 {
    color: #010066;
  }
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: none !important;
}
