.homepage {

  .homepage__featureSlider {
    background-color: $grey;
    min-height: 80vh;
  }

  .homepage__industrySlider {
    background-color: $grey;
    min-height: 80vh;
  }

  .homepage__footerLinks {
    width: 100%;
  }
}
