.homepage {

  .homepage__featureSlider {
    background-color: $grey;
    min-height: 80vh;
  }

  .homepage__industrySlider {
    background-color: $grey;
    min-height: 80vh;
  }

  .homepage__footerLinks {
    width: 100%;
  }
}

#marketingBlocks {
  background-image: url("../../../resources/images/src/jpg/home-marketing-blocks.jpg");
  background-size: cover;
}
#callToAction {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}
#footerLinks {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}
