.homepage {

  .homepage__featureSlider {
    background-color: $grey;
  }

  .homepage__industrySlider {

    h2 {
      display: flex;
      flex: 0 1 100%;
      justify-content: center;
      align-items: center;
      .m-industrySlider__topDecoration {
        flex: 0 0 25px;
        margin: 0 0 0 2rem;
        path {
          width: 100%;
        }
      }
    }
  }

  .homepage__footerLinks {
    width: 100%;
  }
}

.slick-next,
.slick-prev {
  background-color: $red !important;
  height: 40px !important;
  padding: 10px 15px 15px !important;
  width: 40px !important;
  z-index: 50000;
}

.slick-prev {
  left: 8px !important;
}

.slick-next {
  right: 8px !important;
}

#marketingBlocks {
  background-image: url("../../../resources/images/src/jpg/home-marketing-blocks.jpg");
  background-size: cover;
}
#callToAction {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}
#footerLinks {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}
