.newsCategory__intro {
  padding-top: 10rem;

  @media(max-width: 800px) {
    padding-top: 8rem;
  }
}

.newsCategory__articleGrid {
  padding-bottom: 2rem;
}

.newsCategory__newsSidebar {
  background-color: #e2e2e2;
  padding-bottom: 2rem;
 }
