.m-ctaCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5%;
  max-width: 460px;

  @media(max-width: 600px) {
    margin: 0;
  }

  .m-ctaCard__heading {
    font-size: 2rem;
    font-weight: $font-semibold;
    margin: 2%;
  }

  .m-ctaCard__description {
    padding: 1rem 0;

    p {
      @media(max-width: 700px) {
        margin: 0;
      }
    }
  }

  .m-ctaCard__row {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: .3rem;

    .m-ctaCard__icon {
      margin: 0 5% 0 0;
      width: 10%;
    }

    .m-ctaCard__button {
      background-color: $light-blue;
      padding: .5rem 0;
      width: 80%;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
      transition: .3s;

      &.m-ctaCard__button--tour {
        background-color: $yellow;
      }

      &:hover {
        background-color: $yellow;
      }
    }
  }
}
