.m-footerLinks {

  .m-footerLinks__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 1rem 0rem;

    @media(max-width: 600px) {
      justify-content: center;
    }

    .m-footerLinks__item {
      margin: .25rem 0;
      padding: 0 .45rem;
      text-align: center;

      a {
        color: $black;
        font-size: 1rem;
        font-weight: $font-semibold;
        letter-spacing: .06rem;
        text-transform: uppercase;
      }

      .m-footerLinks__anchor {
        color: $black;
      }
    }
  }
}
