.m-footerSocial {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  @media(max-width: 600px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .m-footerSocial__button {
    min-width: 200px;
    padding-left: 0;
    padding-right: 1rem;
    flex: 0 1 35%;

    @media(max-width: 600px) {
      padding-right: 0rem;
      flex: 0 1 100%;
    }
  }

  .m-footerSocial__icon {
    padding: 0 .5rem;
  }
}
