.m-featureSlider__slide {
  position: relative;
  width: 100%;

  .m-featureSlider__image {
    width: 100%;
  }

  .m-featureSlider__content {
    background: linear-gradient(135deg, rgba(0,0,152,.8), rgba(0,0,0,.8));
    bottom: 5rem;
    padding: 2rem;
    position: absolute;
    right: 8px;
    width: 45%;

    @media(max-width: 800px) {
      width: 95%;
    }

    @media(max-width: 600px) {
      background: linear-gradient(135deg, rgba(0,0,152,.5), rgba(0,0,0,.5));
    }

    h3.m-featureSlider__title {
      color: $white;
    }

    p {
      color: $yellow;
      line-height: 1.4rem;
    }
  }
}
