.m-footerContact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem 0;
  text-align: left;
  width: 100%;

  @media(max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .m-footerContact__option {
    margin-right: 2rem;
    padding: 0;
    width: 100%;

    @media(max-width: 600px) {
      margin-bottom: 1rem;
      margin-right: 0rem;
    }
  }

  .m-footerContact__title {
    font-size: 1rem;
    margin: 0;
  }

  .m-footerContact__location {

    a {
      color: $black;

      p {
        margin: 0 auto;
      }
    }
  }
}
