.m-marketingBlock {
  text-align: center;
  width: 100%;

  .m-marketingBlock__headline {
    color: $white;
    font-size: 1.5rem;
    font-weight: $font-semibold;
    line-height: 1.7rem;
    margin: 0;
    padding: 1rem 0 0;

    @media(max-width: 700px) {
      font-size: 1.3rem;
      line-height: 1.4rem;
    }

    @media(max-width: 500px) {
      font-size: 1.2rem;
      line-height: 1.3rem;
    }
  }

  .m-marketingBlock__body {
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin: 0 auto;
    padding: 0;
    width: 60%;

    p {
      font-weight: $font-semibold;
      margin: 0 0 .5rem;

      @media(max-width: 500px) {
        margin: 0 5rem .5rem;
      }
    }

    @media(max-width: 800px) {
      width: 90%;
    }

    @media(max-width: 700px) {
      font-size: 1.3rem;
      line-height: 1.4rem;
    }

    @media(max-width: 500px) {
      font-size: 1.2rem;
      line-height: 1.3rem;
    }
  }

  .m-marketingBlock__decoration {
    height: 1rem;
    margin: 0 0 1rem;

    @media(max-width: 1000px) {
      margin: 0;
    }
  }
}
