.m-navigationRow {
  align-items: center;
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0px;

  &.m-navigationRow--upper {

    @media(max-width: 768px) {
      padding-right: 50px;
    }

    @media(max-width: 600px) {
      background-color: #e2e2e2;
      display: flex;
      height: 35px;
      justify-content: center;
      padding: 0;
      width: 100%;
    }
  }

  .m-navigationRow__link {
    align-items: center;

    a {
      color: #555;
      font-size: 1rem;
      font-weight: $font-semibold;
      letter-spacing: .06rem;
      line-height: 1rem;
      padding: .75rem .65rem;
      text-transform: uppercase;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;

      @media(max-width: 900px) {
        font-size: .9rem;
        padding: .75rem .45rem;
      }

      @media(max-width: 600px) {
        padding: .45rem .5rem;
      }

      &:hover {
        background-color: $blue;
        color: $white;
      }
    }

    @media(min-width: 768px) {
      display: flex;
    }

    &.m-navigationRow__link--button,
    &.m-navigationRow__link--menuToggle {
      padding-right: 0;
    }

    &.m-navigationRow__link--menuToggle {
      display: block;
    }
  }

  .m-navigationRow__anchor {
    align-self: center;
    color: $black;
    font-size: .7rem;
    font-weight: $font-bold;
    letter-spacing: .05rem;
    text-transform: uppercase;

    &.m-navigationRow__anchor--upper {
      color: $light-blue;
    }

    .m-navigationRow__image {
      height: 55px;
      display: block;
    }
  }
}

#menu-primary li {
  position: relative;

  &:hover ul {
    background: rgba(255,255,255,.9);
    display: block;
    left: 0px;
    padding: 0px;
    position: absolute;
    top: 40px;
    width: 250px;
  }

  ul {

    a {
      width: 100%;
    }
  }
}

.condensed {

  #menu-primary li,
  #menu-top {

    &:hover ul {
      top: 25px;
    }

    a {
      padding: .3rem .65rem;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }
  }

  .m-search-field {
    height: 25px;
  }
}

.pushbar {
  background: #010066 !important;

  .m-navigationRow {

    .m-navigationRow__link {
      border-bottom: 1px solid #fff;

      &:hover {
        background-color: rgba(0,0,0,.4);

        a {
          background-color: transparent;
        }
      }

      &.current_page_item {
        background-color: rgba(0,0,0,.4);

        a {

          &:hover {
            background-color: transparent;
          }
        }
      }

      a {
        border-right: 1px solid #fff;
        color: #fff;
      }

      .m-drawerMenu__sub {
        border-top: 1px solid #fff;

        li {
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}

