.m-productGrid {
  position: relative;

  .m-productGrid__image {
    transform: scale(1);
    transition: .5s ease-in-out;
    z-index: 1;
    width: 96%;

    @media(max-width: 640px) {
      width: 100%;
    }
  }

  .m-productGrid__title {
    align-items: center;
    background-color: $black-80;
    bottom: 0px;
    color: $white;
    display: none;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0px;
    padding: 5px 0px;
    position: absolute;
    width: 100%;

    @media(max-width: 1000px) {
      height: 18%;
    }

    .m-productGrid__arrow {
      align-self: flex-start;
      margin-right: 3rem;
      margin-top: -5px;
      width: 1.5rem;
    }
  }
}
