.solutionLanding__caseStudies,
.solutionLanding__resources {
  .m-sidebarTitle__text {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    flex: 0 1 100%;
    position: relative;

    .m-sidebarTitle__flag {
      flex: 0 0 12px;
      margin: 0 2rem 0 0;
    }
  }
}

.newsCategory__newsSidebar {

 .m-sidebarTitle {
   flex: 0 1 100%;

    .m-sidebarTitle__text {
      align-items: flex-start;
      display: flex;
      flex: 0 1 100%;
      justify-content: flex-start;
      position: relative;

      .m-sidebarTitle__flag {
        flex: 0 0 12px;
        margin: 0 2rem 0 0;
      }
    }
  }
}
